@media only screen and (max-width: 768px) {
  body {
    background: black;
}

.objeto1 {
    background-color: red;
    height: 1000px;
    width: 50%;
    margin: 125px 50px 125px 50px;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-property: width;


}

.objeto2 {
    background-color: yellow;
    height: 1000px;
    width: 50%;    
    display: none;

}

.objeto3 {
    background-color: blue;
    height: 1000px;
    width: 50%;    
    margin: 125px 50px 125px 50px;

}

.objeto4 {

    background-color: magenta;
    height: 1000px;
    width: 50%;
    display: none;
}

.objeto5 {
    background-color: lime;
    height: 1000px;
    width: 50%;
    margin: 125px 50px 125px 50px;

}

.objeto6 {

    background-color: aqua;
    height: 1000px;
    width: 50%;
    display: none;
}
.objeto1:hover {
    width: 100%;

}
}










@media only screen and (min-width: 768px) {
  body {
    background: white;
}

.objeto1 {
    background-color: red;
    height: 500px;
    width: 50%;
    margin: 125px 50px 125px 50px;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-property: width;
}

.objeto2 {
    background-color: yellow;
    height: 500px;
    width: 50%;
    margin: 125px 50px 125px 50px;
}

.objeto3 {
    background-color: blue;
    height: 500px;
    width: 50%;
    margin: 125px 50px 125px 50px;
}

.objeto4 {

    background-color: magenta;
    height: 500px;
    width: 50%;
    margin: 125px 50px 125px 50px;

}

.objeto5 {
    background-color: lime;
    height: 500px;
    width: 50%;
    margin: 125px 50px 125px 50px;


}

.objeto6 {

    background-color: aqua;
    height: 500px;
    width: 50%;
    margin: 125px 50px 125px 50px;

}

.objeto1:hover {
    width: 100%;

}



}




.rotate-center:hover {
    transition-duration: 2s;
    transition-delay: .5s;
    transform: rotate(360deg);

}


.shake-horizontal:hover {

    animation-name: si;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease;

}

@keyframes si {
    0% {left: 0px; top: 0px;}
    50% {left: 100px; top: 0px;}
    100% {left: 0px; top: 0px;}
}


.shake-vertical:hover {

    animation-name: no;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease;

}

@keyframes no {
    0% {left: 0px; top: 0px;}
    50% {left: 0px; top: 100px;}
    100% {left: 0px; top: 0px;}
}



.camaleon:hover {
    animation-name: colores;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: alternate;
    animation-timing-function: ease;


}

@keyframes colores {
    0% {background-color: lime;}
    100% {background-color: blue;}
}


.protector:hover {
    animation-name: screen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease;
    


}

@keyframes screen {
    0% {background-color: aqua; left:0px; top: 0px;}
    25% {background-color: yellow; left: 200px; top: 0px;}
    50% {background-color: green; left: 200px; top: 200px;}
    75% {background-color: blue; left: 0px; top: 200px;}
    100% {background-color: aqua; left:0px; top: 0px;}
    
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;


}

